/* div{
    border: 5px solid black;

    /* border: border-radius type colour: */
    /* border-radius: 2px;
    border-style: solid; */
    /* border-color: rgb(30, 3, 63);
    background-color: rgb(84, 200, 226);
    color:darkviolet;
    font-size: xx-large;
    font-family: cursive;
    font-weight:bold;
    padding: 10px;
    height: 100px;
    width: 100px;
    margin: 5px;
} */ 
 /* # for id .for class */
 .box{
    border: 5px solid black;
    height: 100px;
    width: 100px;
 }
 #a{
    background-color: antiquewhite;
    margin-bottom: 100px;
 }
 #b{
    margin-top: 10px;
 background-color: aquamarine;
 }
 th{
    padding: 10px;
 }